<launch>
    <arg name="image_topic" default="/seek_thermal/image_rect_color"/>
    <arg name="camera_info_topic" default="/seek_thermal/camera_info"/>
    <arg name="map_frame" default="map"/>
    <arg name="use_rviz" default="true"/>

    <node pkg="thermal_88" type="thermal_wrapper_node" name="thermal_pipeline" output="screen">
        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="camera_info_topic" value="$(arg camera_info_topic)"/>
        <param name="use_rviz" value="$(arg use_rviz)"/>
    </node>

    <!-- Delete this after PR testing! -->
    <group ns="seek_thermal">
        <node pkg="image_proc" type="image_proc" name="image_proc"/>
    </group>
    <!--  -->

    <node type="rviz" name="calib_rviz" pkg="rviz" args="-d $(find thermal_88)/config/pipeline.rviz" if="$(arg use_rviz)"/>
</launch>